*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
.pd-10-xr{
    padding:10px;
}

.green{
    color: greenyellow;
}

.rem1{
    font-size: 1rem;
}

.bloc{
    display: block;
    text-align: center;
    padding-top: 10px;
}

.inl{
    display: inline-block;
}

.flex{
    display: flex;
}

.overlay{
    background-color: rgba(0,0,0,0.6);
}

.abs{
    position: absolute;
}

.overlay.abs{
    display: inline-block;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 3px;
    color: white;
    margin-bottom: 2px;
    font-size: 0.8rem;
}

.rltv{
    position: relative;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.container{
    width: 100%;
    height: calc(100% - 80px);
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    overflow-y: auto;
}

.col{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.6rem;
}

.col-item{
    width: calc(100% / 7); 
}

.tright{
    top: 0;
    right: 0;
    color: white;
    padding: 5px;
}
.option{
    display: inline-block;
    background-color: #4a4a4a;
    padding: 5px;
    font-size: 0.7rem;
    border-radius: 8px;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: #2b2121;
    z-index: 3;   
}

.foot{
    width: 100%;
    height: 100%;
}

.lft,
.end{
    width: 20%;
    
}

.lft.flex{
    justify-content: start;
    align-items: center;
    color: white;
}

.cntr{
    width: 60%;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.subtitle{
    font-size: 0.9rem;
}

.end.flex{
    justify-content: end;
    color: red;
}

.call{
    height: 100%;
    align-items: center;
    background-color: #545454;   
}




